*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.container{
    width: 350px;
    height: 450px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgb(165, 162, 162);
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
    display: none;
}

.container form{
    width: 100%;
    border: 1px solid rgb(87, 87, 183);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
}

.container form i{
    padding-left: 10px;
}

.product{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}

.product-list{
    padding-top: 15px;
}

.product img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.product .p-details{
    padding-left: 10px;
}

.product .p-details h2{
    font-size: 20px;
    color: rgb(72, 70, 70);
}

.product .p-details h3{
    font-size: 13px;
}